body{
    background-color: #85bce2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
}
h1{
    color: #fbfb0ac5;
    text-align: center;
    font-size: 50px;
}
h2{
    color:#fbfb0ac5;
    font-size: 35px;
}
p{
    color: #150f63;
    font-size: 25px;
    line-height: 2;
    border-radius: 20px;/*makes corners soft and rounded */
    box-shadow: 5px 5px #890c1d;
}
button {
    background-color: #890c1d;
    padding: 15px 25px;
    font-size: 18px;
    color: #fbfb0ac5;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}
button:hover{
    background-color: #150f63;
}

